@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление блюда</title>
</head>
<body>
    <div>
        <h3>Параметры нового блюда</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите название</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите цену (грн)</p></td>
                    <td><input type="number" min="0" step="0.1" name="Price" /> </td>
                </tr>
                <tr>
                    <td><p>Введите вес (кг)</p></td>
                    <td><input type="number" min="0" step="0.1" name="Weight" /> </td>
                </tr>
                <tr>
                    <td><p>Введите время приготовления (часы)</p></td>
                    <td><input type="number" min="0" step="0.1" name="Time" /> </td>
                </tr>

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
