@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменение ингредиентов</title>
</head>
<body>
    <div>
        <h3>Параметры изменяемого ингредиента</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Id" name="Id" />
            <table>
                <tr>
                   <td><p>Введите новое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

