@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменение стола</title>
</head>
<body>
    <div>
        <h3>Параметры изменяемого стола</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Id" name="Id" />
            <table>
                <tr>
                    <td><p>Введите новое количество посадочных мест </p></td>
                    <td><input type="number" min="1" max="10" name="PeopleAmount" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
